<?xml version="1.0" encoding="GBK"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/mdd/cf/tankwar/TankWar"
			class = "uk.ac.kcl.inf.mdd.cf.tankwar.tankWar.TankWarPackage"
			genModel = "model/generated/TankWar.genmodel" />
	</extension>
</plugin>
